@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
}

@layer utilities {
  .scrollbar {
    scrollbar-color: #fff #fff;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      max-width: 2px;
    }
    &::-webkit-scrollbar-track {
      background-color: #fff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 2px;
    }
  }
  .neumo {
    background: #fff;
    border-radius: 5%;
    box-shadow: 13.21px 13.21px 15px #d9dade, -13.21px -13.21px 15px #ffffff;
  }
  .neumoinset {
    border-radius: 18px;
    background: #ffffff;
    box-shadow: inset 6px 6px 11px #e1e1e1, inset -6px -6px 11px #ffffff;
  }
  .neumoButton {
    background: #fff;
    color: black;
    border-radius: 5%;
    box-shadow: 13.21px 13.21px 15px #d9dade, -13.21px -13.21px 15px #ffffff;
  }
}
